hosts           = {{ m_ldap_server }}  
ldap_version    = 3
auth_bind       = yes
base            = {{ m_ldap_search_base }} 
scope           = subtree
deref           = never

#user_attrs = quota=quota=maildir:storage
#user_attrs = quota=quota=maildir:storage=%$B
user_filter = (&(objectClass=PostfixAccount)(uid=%u))
pass_attrs = {{ dovecot_pass_attr }} 
pass_filter = (&(objectClass=PostfixAccount)(uid=%u))
#default_pass_scheme = MD5
