#!/bin/sh

# Ensure the following organizationalUnits are created:
ous="users emailDomains emailAliases"

for ou in $ous; do
  if ! ldapsearch -A -D "cn=admin, {{ slapd_dc}}" -y /root/.slapdpassword -b "{{ slapd_dc }}" "(ou=$ou)" | grep '# numEntries: 1' >/dev/null; then
    printf "dn: ou=$ou,{{ slapd_dc }}\nobjectClass: organizationalUnit\nou: $ou\n" | ldapadd -D "cn=admin, {{ slapd_dc }}" -y /root/.slapdpassword
  fi
done
