rules_folder: /etc/elastalert/rules

run_every:
  minutes: 1

buffer_time:
  minutes: 15

es_host: {{ m_elasticsearch_host }} 
es_port: {{ m_elasticsearch_port }} 
use_ssl: True
verify_certs: True
ca_certs: /etc/ssl/certs/ca-certificates.crt
es_username: elastalert
es_password: {{ vault_elasticsearch_elastalert_password }}

writeback_index: elastalert_status

alert_time_limit:
  days: 2

