server {
  root /var/www/html;
  server_name {{ monitor_hostname }};
  listen 443;
  ssl on;
  ssl_certificate_key /etc/letsencrypt/live/{{ monitor_hostname }}/privkey.pem;
  ssl_certificate /etc/letsencrypt/live/{{ monitor_hostname }}/fullchain.pem;

  ssl_ciphers 'AES128+EECDH:AES128+EDH:!aNULL';

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_session_cache shared:SSL:10m;

  ssl_prefer_server_ciphers on;
}
