journalbeat.inputs:
- paths: ["/var/log/journal"]
  seek: cursor
  include_matches: [ {% for item in journalbeat_send %} "syslog.identifier={{ item }}", {% endfor %} ]

setup.template.settings:
  index.number_of_shards: 1

output.elasticsearch:
  hosts: ["{{ m_elasticsearch_host }}:{{ m_elasticsearch_port }}"]
  protocol: "https"
  username: "journalbeat_writer"
  # Actual password is in keystore.
  password: "${JOURNALBEAT_WRITER_PWD}"

processors:
  - if:
      and:
        - equals:
            syslog.identifier: sshd
        - contains: 
            message: Failed password for invalid user 
    then:
       - dissect:
           tokenizer: Failed password for invalid user %{user} from %{client_ip} port %{client_port} ssh2

setup.template.enabled: false
logging.level: warning
