server:
  access-control: 127.0.0.1/8 allow
{% for network in m_networks %}
  access-control: {{ network }} allow
{% endfor %}

  # Don't daemonize - so we run nicely when started by systemd
  do-daemonize: no
  pidfile: ""

  # logging queries causes unnecessary disk i/o
  log-queries: no
  logfile: ""

