stub-zone:
  name: "{{ unbound_stub_domain }}"
  {% for stub_address in unbound_stub_addresses %}
  stub-addr: {{ stub_address }} 
  {% endfor %}

server:
  domain-insecure: "{{ unbound_stub_domain }}"
  local-zone: test nodefault
