$TTL {{ knot_default_ttl }}
$ORIGIN {{ knot_origin }} 
@    IN    SOA    {{ knot_soa_name_server }}    {{ knot_soa_email_addr }}    (
    {{ knot_serial_number }} 
    {{ knot_refresh }} 
    {{ knot_update_retry }} 
    {{ knot_expiry }} 
    {{ knot_nxdomain }} 
)
{% for item in knot_entries %}
{% if item.type == "NS" %}
{{ item.fqdn }} {{ item.ttl }}  IN  NS  {{ item.server_name }}
{% elif item.type == "A" %}
{{ item.fqdn }} {{ item.ttl }}  IN  A {{ item.ip }}  
{% elif item.type == "MX" %}
{{ item.fqdn }} {{ item.ttl }}  IN  MX  {{ item.dist }} {{ item.server_name }}
{% elif item.type == "TXT" %}
{{ item.fqdn }} {{ item.ttl }}  IN  MX  {{ item.text }}
{% endif %}
{% endfor %}
